    .navbar-brand {
        float: none;
        padding: 5px;
    }
    
    .navbar-center {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
        height: 100%;
    }
    
    .nav-menu {
        display: inline;
    }
    
    .navbar-header img {
        height: 10vh
    }
    
    .navbar {
        height: 15vh;
    }
    
    .navbar-custom {
        background-color: #00334E;
    }
    
    .active {
        color: red !important;
    }
    
    .nav-link {
        color: white;
        font-size: 2.5vh;
    }
    
    #b1 {
        background-color: #00334E;
        width: 15vw;
        height: 7vh;
        margin-top: 1vh;
        /* border-radius: 1vh; */
        border: 0px;
        color: #e9daa2;
        /* font-size: 0.75vw; */
    }
    
    #userprofimg {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 3%;
    }
    
    .desc {
        width: 85%;
        margin: 5vh;
        /* margin-right: -2vh; */
        /* float: left; */
        /* border: 1px solid black; */
        /* height: 70vh; */
        text-align: center;
    }
    
    .desc>img {
        height: 40vh;
        float: left;
    }
    
    .ab {
        /* border: 1px solid black; */
        /* height: 55vh; */
        /* margin-top: 10vh; */
        padding: 3vh;
        margin-left: -3vh;
        color: white;
        background-color: #406882ae;
    }
    
    .footer-dark {
        padding: 50px 0;
        color: #f0f9ff;
        background-color: #00334E;
    }
    
    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }
    
    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .footer-dark ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.6;
    }
    
    .footer-dark ul a:hover {
        opacity: 0.8;
    }
    
    @media (max-width:767px) {
        .footer-dark .item:not(.social) {
            text-align: center;
            padding-bottom: 20px;
        }
    }
    
    .footer-dark .item.text {
        margin-bottom: 36px;
    }
    
    @media (max-width:767px) {
        .footer-dark .item.text {
            margin-bottom: 0;
        }
    }
    
    .footer-dark .item.text p {
        opacity: 0.6;
        margin-bottom: 0;
    }
    
    .footer-dark .item.social {
        text-align: center;
    }
    
    @media (max-width:991px) {
        .footer-dark .item.social {
            text-align: center;
            margin-top: 20px;
        }
    }
    
    .footer-dark .item.social>a {
        font-size: 20px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
        margin: 0 8px;
        color: #fff;
        opacity: 0.75;
    }
    
    .footer-dark .item.social>a:hover {
        opacity: 0.9;
    }
    
    .footer-dark .copyright {
        text-align: center;
        padding-top: 24px;
        opacity: 0.3;
        font-size: 13px;
        margin-bottom: 0;
    }
    
     ::-webkit-scrollbar {
        width: 5px;
    }
    
    #typingText {
        font-family: 'Oswald', sans-serif;
        font-size: 70px;
        margin: 0 auto;
        /* padding: 25px; */
        text-align: center;
        text-shadow: 2px 2px #406882;
        color: #00334E;
    }
    
    .t {
        text-align: center;
        padding: 5vh;
        /* font-size: 1rem; */
    }
    
    .carousel-inner img {
        width: 100%;
        height: 50vh;
    }
    
    .btn1 {
        height: 10vh;
        width: 20vw;
        color: black;
        background-color: #406882;
        font-size: 2.8vh;
        margin-bottom: 2vw;
        margin-left: 2vh;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        margin-top: 2vh;
    }
    
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    #wrapper {
        margin-top: 10vh;
        height: 55vh;
        width: 100%;
        white-space: nowrap;
        position: relative;
        overflow-x: scroll;
        overflow-y: hidden;
        /* background-color: rgb(255, 235, 205, 0.5); */
    }
    
     ::-webkit-scrollbar {
        width: 3px;
    }
    
    .poll {
        display: inline-block;
        background-color: #406882;
        /* border-radius: 100%; */
        text-align: center;
        width: 40vh;
        height: 40vh;
        margin-left: 1vh;
        /* border-radius: 100%; */
        position: relative;
    }
    
    span {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 25%;
        right: 25%;
        font-family: 'Hubballi', cursive;
    }
    
    span a {
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    
    #searchbar {
        height: 20vh;
        background-color: #00334E;
        text-align: center;
        padding: 7vh;
    }
    
    #btnn {
        background-color: rgb(238, 26, 26);
        border: 0px;
        color: white;
        height: 5vh;
        width: 10vw;
    }
    
    #search {
        width: 40%;
        height: 5vh;
    }
    
    #myInput {
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 50%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        margin-left: 25%;
    }
    
    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }
    
    #myTable th,
    #myTable td {
        text-align: left;
        padding: 12px;
    }
    
    #myTable tr {
        border-bottom: 1px solid #ddd;
    }
    
    #myTable tr.header,
    #myTable tr:hover {
        background-color: #f1f1f1;
    }