<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <div>
        <p id="welcome">Voter Registration</p>
    </div>
    <div id="form">
        <form action="/action_page.php">

            <input type="text" id="u" name="fname" placeholder="First Name" class="inp">

            <input type="text" id="p" name="lname" placeholder="Last Name" class="inp">
            <br>

            <input type="date" id="dob" name="dob" placeholder="Date of birth:" class="inp1"> <br>
            <input type="tel" id="phone" name="phone" placeholder="Phone number" class="inp1 "
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            <br> <input type="text" id="state" name="state" placeholder="State" class="inp">
            <input type="text" id="dist" name="dist" placeholder="District" class="inp"> <br>
            <input type="text" id="mandal" name="mandal" placeholder="Mandal" class="inp1"><br>
            <input type="text" id="const" name="const" placeholder="Constituency" class="inp1">
            <br> <input type="text" id="ward" name="ward" placeholder="Ward number" class="inp1"> <br>
            <input type="text" id="const" name="const" placeholder="Voter Id" class="inp1">
         <br>
                <input type="text" id="u" name="fname" placeholder="Username" class="inp1">
             <br>
                <input type="text" id="p" name="lname" placeholder="Password" class="inp">
                <input type="text" id="p" name="lname" placeholder="Confirm Password" class="inp"> <br>
                <input type="checkbox" id="agree" placeholder=""> <label for="agree" >I agree to the t&c </label><br>
           <input type="submit" value="Register" class="btn">
        </form>
    </div>

</body>

</html>