<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./CSS/voterlogin.css">

</head>

<body>
    <div id="background">
        <div>
            <p id="welcome">Welcome</p>
            <p id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, quo. dolor sit
            </p>
            <button id="btn1">Sign up</button>
        </div>

    </div>
    <div class="login">
        <div id="cen">
            <p id="desc1">If you have already registered, please login.</p>
        </div>
        <form action="">

            <input type="text" id="u" name="fname" value="Username" class="inp"><br><br>

            <input type="text" id="p" name="lname" value="********" class="inp"><br><br>
            <input type="submit" value="Login" class="btn">
            <br> <br> <a href="#">forgot Password?</a>

            <br><a href="">signup</a>
        </form>
    </div>
    <script src="./Javascript/register.js"></script>
</body>

</html>